/* .header {
  font-size: inherit;
  position: sticky;
  color: black;
  width: 100%;
  background-color: crimson;
  margin: 0;
  padding: 1rem;
} */

/* .left {
  float: left;
} */

/* .right {
  float: right;
} */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: #f77561;
  color: #462446;
  font-weight: 700;
  /* font-size: 2rem; */
  display: flex;
  /* justify-content: space-between; */
  justify-content: space-around;
  align-items: center;
  /* padding: 0 10%; */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.main-image {
  width: 100%;
  height: 25rem;
  z-index: 0;
  overflow: hidden;
}

.main-image img {
  width: 110%;
  height: 100%;
  object-fit: cover;
  transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem);
}
