.goal-item {
  margin: 1rem 0;
  background: #71a2a7;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 5px;
  color: #2a2a2a;
  font-weight: 700;
  padding: 1rem 1rem;
  cursor: pointer;
}
