.card {
  max-width: 500px;
  width: 50%;
  margin: 3rem auto;
  background: #ccc;
  padding: 1rem;
  border-radius: 15px;
}

h2 {
  margin: 0 0 0.5rem 0;
  padding: 0;
}

input {
  color: #333;
  width: 50%;
  height: 1rem;
  padding: 0.6rem;
  font-size: 1.5rem;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 1rem;
}

input:focus {
  /* background: #f1f1f1; */
  box-shadow: 0 0 3px rgb(177, 250, 255);
}